body {
    margin: 0 auto;
    line-height: 1.7em;
    color: #555;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.blue {
    color: #2e90c8;
}
.green {
    color: #2ECC40;
}
a:link {
    color: #2e90c8;
    text-decoration: none;
}
/* unvisited link */

a:visited {
    color: #2e90c8;
}
/* visited link */

a:hover {
    color: #2e90c8;
}
/*text-decoration: underline}  /* mouse over link */

a:active {
    color: #2e90c8;
}
/* selected link */

.justify {
    text-align: justify;
}
.highlight {
    padding: 4px;
    margin: 1em auto;
    overflow-x: hidden; 
    max-height: initial;
}
pre {
    margin: 0;
}
section div.group {
    border-bottom: 1px solid #999;
    padding-bottom: 40px;
}
section h2 {
    color: #2e90c8;
    font-size: 3em;
}

p.message {
    padding: 15px;
}

.page-content-wrapper {
    width: 100%;
    padding: 15px 15px 15px 255px;
}
#home .box {
    border: 1px solid #ccc;
    margin: 0.6em;
    padding: 20px;
    min-height: 240px;
    border-radius: 4px;
}
#home .box h3 {
    margin: 0.8em 0;
    font-size: 1.6em;
}
#home .box p.more {
    text-align: right;
}
#home .box .btn {
    color: white;
}
#home .splash-image {
    text-align: center;
}
#home .splash-image img {
    max-width: 100%;
}
#home .jumbotron {
    background: transparent;
    padding: 0;
}
#home .jumbotron .container-fluid {
    max-width: 1126px;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#home .jumbotron h1 {
    font-size: 300%;
    margin: 0.2em 0;
}
#home .jumbotron p.subhead {
    font-weight: 300;
    line-height: 1.4em;
    margin: 0.4em 0;
}
#home .jumbotron p .btn {
    color: white;
}
body .primary-button {
    background: #2e90c8;
    color: #fff;
    text-decoration: none;
}
.outlined-button {
    border: 1px solid #ddd;
    background: white;
    color: black;
}
.outlined-button.green-button {
    border: 1px solid rgb(28, 184, 65);
    color: rgb(28, 184, 65);
}
.outlined-button.green-button:hover {
    background: white;
    cursor: default;
}



/* sidebar */

.bs-docs-sidebar {
    position: fixed;
    top: 0;
    width: 240px;
    margin: 0;
    padding: 0;
    list-style: none;
    left: 0;
    bottom: 0;
    z-index: 1000;
    /* so the menu or its navicon stays above all content */
    background: #efefef;
    border-right: 1px solid #999;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.bs-docs-sidebar .nav>li {
    margin: 0;
}
/* all links */

.bs-docs-sidebar .nav>li>a {
    border: none;
    color: #555;
    padding: 0.6em 0 0.6em 20px;
    font-size: 14px;
}
.bs-docs-sidebar .nav>li>a.category {
    font-size: 110%;
    font-weight: bold;
}
/* nested links */

.bs-docs-sidebar .nav .nav > li > a {
    border: none;
    padding-left: 40px;
    font-size: 13px;
}

.bs-docs-sidebar .nav .nav > li > a > span {
    text-transform: uppercase;
    font-size: 60%;
    color: #555;
}
/* nested nested links */

.bs-docs-sidebar .nav .nav .nav > li > a {
    border: none;
    padding-left: 55px;
    font-size: 12px;
    font-style: italic;
}
/* active & hover links */

.bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>li>a:hover, .bs-docs-sidebar .nav>li>a:focus {
    color: #fff;
    text-decoration: none;
    background: #5FA9E8;
}
/* all active links */

.bs-docs-sidebar .nav>li>a.selected, .bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active:focus>a {
    color: #fff;
    font-weight: bold;
    background: #428bca;
}
/* nested active links */

.bs-docs-sidebar .nav .nav>.active>a, .bs-docs-sidebar .nav .nav>.active:hover>a, .bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: bold;
    background: #5FA9E8;
}
/* hide inactive nested list */

.bs-docs-sidebar .nav ul.nav {
    display: none;
}
/* show active nested list */

.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}
/* nested nested active links */

.bs-docs-sidebar .nav .nav .nav>.active>a, .bs-docs-sidebar .nav .nav .nav>.active:hover>a, .bs-docs-sidebar .nav .nav .nav>.active:focus>a {
    font-weight: bold;
    color: #555;
    background: transparent;
}
/* hide inactive nested nested list */

.bs-docs-sidebar .nav .nav ul.nav {
    display: none;
}
/* show active nested nested list */

.bs-docs-sidebar .nav .nav>.active>ul.nav {
    display: block;
}
.bs-docs-sidebar .logo {
    color: #444;
    background: #efefef;
    text-align: center;
    width: 100%;
    display: block;
    padding: 1em;
    text-transform: uppercase;
}
.bs-docs-sidebar .logo > img {
    height: 40px;
}
.bs-docs-sidebar .love {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 100%;
    text-align: right;
    font-size: 90%;
}
/* Libraries */

.libraries .highlight {
    max-height: initial;
}
.libraries .btn {
    color: white;
}
.libraries .official:before {
    content: "✓ ";
}
.libraries .official {
    color: green;
    font-size: 90%;
    font-weight: 300;
    letter-spacing: 0.1em;
}
th.name {
    width: 200px;
}
th.type {
    width: 100px;
}
th.values {
    width: 200px;
}
th.default {
    width: 200px;
}
th.read-only {
    width: 101px;
}
th.mandatory {
    width: 101px;
}
th.id {
    width: 50px;
}
.ribbon {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
}
