body {
    margin: 0;
    color: #555;
    background-color: #f8f8f9;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 680px;
}


/*

    HEADER

*/

.header {
    background: hsla(0,0%,100%,.95);
    box-shadow: 0 1px 3px rgba(27,36,50,.15);
    height: 60px;
    position: fixed;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: -webkit-transform .45s cubic-bezier(.33,0,.2,1);
    transition: transform .45s cubic-bezier(.33,0,.2,1);
    width: 100%;
    z-index: 1;
}


.logo {
    color: #444 !important;
    float: left;
    text-align: center;
    display: block;
    padding: .4em .4em .4em 0;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 32px;
}

.logo > img {
    height: 30px;
    float: left;
}

.logo > span {
    display: block;
    float: left;
    margin-top: 14px;
    color: #49505b;
    font-size: .875em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-nav {
    display: inline-block;
    font-weight: 500;
    margin-top: 20px;
}

.header-nav li {
    display: inline;
    font-size: .945em;
    line-height: 1;
    list-style: none;
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header-nav li a {
    color: #999;
}

.header-nav li a:hover {
    color: #49505b;
}

/*

    LAYOUT

*/

.v2-wrapper {
    margin: 0 auto;
    transition: width .15s;
    width: 90%;
}
@media (min-width: 1280px) {
    .v2-wrapper {
        width: 1220px;
    }
}
.layout-sidebar{
    margin-left: -15px;
    margin-right: -15px;
}

.layout-sidebar .sidebar {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 20.83333%;
}

.layout-sidebar .post-wrapper {
    position: relative;
    padding: 90px;
    margin-left: 2%;
    background: #fff;
    min-height: 1000px;
    float: left;
    width: 75%;
}


/*

    SIDEBAR

*/
.sidebar-nav {
    margin-top: 115px;
    max-height: 100%;
    overflow-y: auto;  
}

.sidebar-nav li {
    color: #777;
}

.sidebar-nav li:not(.item-header):hover, .sidebar-nav a.active li {
    border-left: 2px solid #2e90c8;
    color: #2e90c8;
    padding-left: 7px;
}

.sidebar-nav ul {
    padding-left: 0;
}
.sidebar-nav li {
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 0;
}
.sidebar-nav li {
    font-size: .875em;
    line-height: 1.25;
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: all .15s;
}
.sidebar-nav ul ul {
    padding-left: 1em;
}

.sidebar-nav li.item-header{
    color: #49505b;
    font-size: .875em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}




.blue {
    color: #2e90c8;
}
.green {
    color: #2ECC40;
}
a:link {
    color: #2e90c8;
    text-decoration: none;
}
a:visited {
    color: #2e90c8;
}
a:hover {
    color: #2e90c8;
}
a:active {
    color: #2e90c8;
}

.justify {
    text-align: justify;
}
.highlight {
    padding: 4px;
    margin: 1em auto;
    overflow-x: hidden; 
    max-height: initial;
}
pre {
    margin: 0;
}
section div.group {
    border-bottom: 1px solid #999;
    padding-bottom: 40px;
}
section h2 {
    color: #2e90c8;
    font-size: 3em;
}

p.message {
    padding: 15px;
}
 
body .primary-button {
    background: #2e90c8;
    color: #fff;
    text-decoration: none;
}
.outlined-button {
    border: 1px solid #ddd;
    background: white;
    color: black;
}
.outlined-button.green-button {
    border: 1px solid rgb(28, 184, 65);
    color: rgb(28, 184, 65);
}
.outlined-button.green-button:hover {
    background: white;
    cursor: default;
}


th.name {
    width: 200px;
}
th.type {
    width: 100px;
}
th.values {
    width: 200px;
}
th.default {
    width: 200px;
}
th.read-only {
    width: 101px;
}
th.mandatory {
    width: 101px;
}
.ribbon {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

span.deprecated {
  padding: 2px;
  color: white;
  background-color: #d14;
  border-radius: 5px;
  font-size: 80%;
  border: 1px solid #a94442;
}