* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    line-height: 1.7em;
    color:#555;
    font-size: 0.9em;
}


.blue{
    color: #2e90c8;
}

.green{
    color: #2ECC40;
}

a:link {color:#2e90c8;text-decoration: none;}      /* unvisited link */
a:visited {color:#2e90c8;}  /* visited link */
a:hover {color:#2e90c8; } /*text-decoration: underline}  /* mouse over link */
a:active {color:#2e90c8;}  /* selected link */
.justify {text-align: justify;}
aside{
    background: rgb(202, 60, 60);
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    text-align:center;
}

.l-box {
    padding: 1em;
}

.header {
    margin: 0 0;
}
    .header .pure-menu.pure-menu-open.pure-menu-fixed{
        border-bottom: 13px solid #2e90c8;
    }
    .header .pure-menu {
        padding: 0.5em;
    }
        .header a.pure-menu-heading > img{
          height:30px;
        }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: #2e90c8;
            color: white;
        }
    .header-right{
        float:right;
        text-align:right;
        font-size:70%;
    }

body .primary-button {
    background: #2e90c8;
    color: #fff;
    text-decoration: none;
}

.outlined-button {
    border: 1px solid #ddd;
    background: white;
    color: black;
}

.outlined-button.green-button {
    border: 1px solid rgb(28, 184, 65);
    color: rgb(28, 184, 65);
}
.outlined-button.green-button:hover {
    background: white;
    cursor: default;
}

.splash {
    margin: 2em auto 0;
    padding: 7em 2.5em 1em;
}
    .splash .pure-g-r {
        letter-spacing: 0em !important;
    }
    .splash .splash-image {
        text-align: center;
    }
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;

    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }


.content .content-ribbon {
    margin: 0 auto;
    border: 1px solid #eee;
}


.content-wrapper {
    margin-top: 6em;
    text-align: center;
}

    .content{
        text-align: left;
        margin: 0 auto 50px auto        ;
    }

    .overview.resources {
        padding: 0;
    }

        .overview.resources li {
            float:left;
            display:block;
            width: 33%;
        }

            .overview.resources li a {
                display:block;
                padding: 2px;
            }
            .overview.resources li a:hover {
                background-color: #2e90c8;
                color: white;
                text-decoration: none;
            }

    table {
        *border-collapse: collapse; /* IE7 and lower */
        margin: 0 auto;
        width: 100%;
        border-collapse: collapse;
        font-size: 90%;
    }

        .thead {
            border-top: none;
            font-weight: bold;
        }

        .thead.first {
            width: 35%;
        }

        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }


        tr:hover {
            background: #EBEBEB;
            -o-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }

        td, .thead {
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
            padding: 2px;
            text-align: left;
        }

        p.caption{
            font-size: 85%;
            margin: 0;
        }
        p.title{
            font-size: 130%;
            font-weight: bold;
            margin-bottom: 0;
        }
    .newsection{
        padding-top: 4em;
    }
    .anchor{
        display: block;
        height: 75px;
        margin-top: -75px;
        visibility: hidden;
    }
.official {
    color: green;
    font-size: 90%;
    font-weight: 300;
    letter-spacing:0.1em;
}
.official:before {
   content: "✓ ";
}
