<div class="header pure-u-1">

    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal" id="menu">
        <a class="pure-menu-heading" href="/"><img src="https://d2wni7o1grq1fg.cloudfront.net/201307030346/resources/images/common/myerp_logo_black.png" alt="myERP"/>Developers</a>
        <ul id="menu-data">

            <li><a href="/docs/1.0/overview">Overview</a></li>
            <li><a href="/docs/1.0/api">REST API</a>
                <ul>
                    <li><a href="/docs/1.0/api/account/">Accounts</a></li>
                    <li><a href="/docs/1.0/api/account_contact/">Account Contacts</a></li>
                    <li><a href="/docs/1.0/api/project/">Projects</a></li>
                    <li><a href="/docs/1.0/api/item/">Items</a></li>
                    <li><a href="/docs/1.0/api/item_family/">Item families</a></li>
                    <li><a href="/docs/1.0/api/sales_order/">Sales orders</a></li>
                    <li><a href="/docs/1.0/api/order_line/">Order lines</a></li>
                    <li><a href="/docs/1.0/api/accounting_transaction/">Accounting transactions</a></li>
                    <li><a href="/docs/1.0/api/payment_term/">Payment terms</a></li>
                    <li><a href="/docs/1.0/api/currency/">Currencies</a></li>
                    <li><a href="/docs/1.0/api/payment_term/">Payment terms</a></li>
                </ul>
            </li>
            <li><a href="#">API clients</a></li>
            <li><a href="#">API Health</a></li> 
        </ul>
        <div class="header-right">Made with love<br /> by the myERP Team</div>
    </div>
</div>