<div class="header pure-u-1">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
        <a class="pure-menu-heading" href="/"><img src="https://d2wni7o1grq1fg.cloudfront.net/201307030346/resources/images/common/myerp_logo_black.png" alt="MyERP"/>Developers</a>

        <ul>
            <li><a href="/docs/1.0/overview">Overview</a></li>
            <li><a href="/docs/1.0/api">REST API</a></li>
            <li><a href="#">API clients</a></li>
            <li><a href="#">API Health</a></li> 
        </ul>

        <div class="header-right">Made with love<br /> by the MyERP Team</div>
    </div>
</div>