<li><a href="/docs/1.0/api/customer/">Customers</a></li>
<li><a href="/docs/1.0/api/vendor/">Vendors</a></li>
<li><a href="/docs/1.0/api/project/">Projects</a></li>
<li><a href="/docs/1.0/api/item/">Items</a></li>
<li><a href="/docs/1.0/api/item_family/">Item families</a></li>
<!-- <li><a href="/docs/1.0/api/sales_order/">Sales orders</a></li> -->
<li><a href="/docs/1.0/api/transaction/">Transactions</a></li>
<li><a href="/docs/1.0/api/accounts/">Accounts</a></li>
<li><a href="/docs/1.0/api/payment_term/">Payment terms</a></li>
<li><a href="/docs/1.0/api/currency/">Currencies</a></li>
<li><a href="/docs/1.0/api/tax/">Taxes</a></li>
<li><a href="/docs/1.0/api/unit/">Units</a></li>
