<li>
    <a class="category" id="home-menu" href="/">Home</a>
</li>
<li>
    <a class="category" href="/docs/1.0/overview/">Overview</a>
    <ul class="nav nav-stacked">
        <li><a href="#general">How to use the myERP API</a></li>
        <li><a href="#security">Security and Authentication</a></li>
        <li><a href="#ratelimiting">Rate Limiting and limits</a></li>
        <li><a href="#errorcode">Error Code and Responses</a></li>
        <li><a href="#glossary">Glossary</a></li>
        <li><a href="#support">Support</a></li>
    </ul>
</li>
<li>
    <a class="category" href="/docs/1.0/libraries/">Libraries</a>
    <ul class="nav nav-stacked">
        <li><a href="#ruby">Ruby</a></li>
        <li><a href="#java">Java</a></li>
        <li><a href="#php">PHP</a></li>
    </ul>
</li>
<li>
    <a class="category" href="/docs/1.0/api/">REST API</a>
    <ul class="nav nav-stacked">
        <li><a href="#account">Account</a></li>
        <li><a href="#address">Address</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#currency">Currency</a></li>
        <li><a href="#customer">Customer</a></li>
        <li><a href="#entry">Entry</a></li>
        <li><a href="#item">Product and Service</a></li>
        <li><a href="#item_family">Product and Service Family</a></li>
        <li><a href="#order_line">Order Line</a></li>
        <li><a href="#payment_term">Payment Term</a></li>
        <li><a href="#project">Project</a></li>
        <li><a href="#sales_order">Sales Order</a></li>
        <li><a href="#tax">Tax</a></li>
        <li><a href="#transaction">Transaction</a></li>
        <li><a href="#unit">Unit</a></li>
        <li><a href="#vendor">Vendor</a></li>
    </ul>
</li>