<h4>Reponse types</h4>
This endpoint supports two types of response JSON and PDF. 
<br>
Response type can be changed by adding <span class="code-inline">.pdf</span> or <span class="code-inline">.json</span> to the URL.
<br><br>
<table class="table table-bordered table-striped">
  <thead>
    <th>Type</th>
    <th>Content-Type</th>
    <th>Response type</th>
  </thead>
  <tbody>
    <tr>
      <td>JSON
        <br> (Default)
      </td>
      <td>application/json</td>
      <td>
        URL to the PDF reprensentation of the document. The URL is valid for 5 minutes.<br><br>
        Example:
        {% highlight json %}{"url": "https://s3.amazonaws.com/documents/1/1.pdf"}{% endhighlight %}
      </td>
    </tr>
    <tr>
      <td>PDF</td>
      <td>application/pdf</td>
      <td>
        The PDF reprensentation of the document.
      </td>
    </tr>
  </tbody>
</table>