<div id="errorcode" class="group">

<h2> Error Codes and Responses</h2>

<p>In order to provide more informative error responses, our API attempts to return appropriate HTTP status codes for every request and return errors via a JSON error object containing <b>code</b> and <b>message</b> attributes.</p>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>OneUp Code</th>
      <th>HTTP Status Code</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td><a href="https://tools.ietf.org/html/rfc2616#section-10.5.1" target="_blank">500</a> </td>
      <td>Oops something went wrong. Please contact us so the OneUp team can investigate.</td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href="https://tools.ietf.org/html/rfc2616#section-10.4.2" target="_blank">401</a></td>
      <td>Unauthorized.</td>
    </tr>
    <tr>
      <td>2</td>
      <td><a href="https://tools.ietf.org/html/rfc2616#section-10.4.5" target="_blank">404</a></td>
      <td>The resource was not found.</td>
    </tr>
    <tr>
      <td>3</td>
      <td><a href="http://tools.ietf.org/html/rfc4918#section-11.2" target="_blank">422</a></td>
      <td>The request does not respect the specification. Please see the documentation and double-check each field.</td>
    </tr>
    <tr>
      <td>4</td>
      <td><a href="http://tools.ietf.org/html/rfc6585#section-4" target="_blank">429</a></td>
      <td>Rate limited.</td>
    </tr>
    <tr>
      <td>5</td>
      <td><a href="https://tools.ietf.org/html/rfc2616#section-10.4.1" target="_blank">400</a></td>
      <td>The request was not parsed. Please double-check the content of the request.</td>
    </tr>
  </tbody>
</table>
</div>