<div id="general" class="group">

    <h2>General</h2>

    <p>This is the documentation for the OneUp v1 API. Read the contents of this page carefully, including the authentication process and the rate &amp; limits described below, to understand how to be a good API citizen and to understand general restrictions and concerns.</p>

    <p>Your use and access to the API is expressly conditioned on your compliance with the policies, restrictions and other provisions related to the API set forth in our API Restrictions and Responsibilities and the other documentation we provide you. You must also comply with the restrictions set forth in the <a href="https://oneup.com/en/term-of-use-US.html" target="_blank" title="">OneUp Terms of Service</a> and the <a href="https://oneup.com/en/privacy-policy.html" title="" target="_blank">OneUp Privacy Policy</a>, in all uses of the API. If OneUp believes that you have or attempted to violate any term, condition or the spirit of these policies or agreements, your right to access and use the API may be temporarily or permanently revoked.</p>

    <h3>REST API</h3>
    <p>The API is implemented as JSON using all four verbs (GET/POST/PUT/DELETE). Each resource, like Customer, Item, or Order, has its own URL and is manipulated in isolation. In other words, we’ve tried to make the API follow the REST principles as much as possible.</p>

    <p>For each resource, you can get, create, update, delete an element and also list all the elements. If you are not familiar with the REST API, here is a summary:</p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Resource</th>
                <th>GET</th>
                <th>PUT</th>
                <th>POST</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Collection URI, such as <br />{{ site.api.base_url }}{{ site.api.v1}}{{ site.resource.customers.url}}</b>
                </td>
                <td>List all the elements of this collection.
                    <br />You might need to use the pagination to browse the results.</td>
                <td>-</td>
                <td>Create a new element in the collection.
                    <br />The id of the element is assigned automatically.</td>
                <td>Delete multiple elements. <a href="#bulkdeletion" title="">Learn more</a>.</td>
            </tr>
            <tr>
                <td><b>Element URI, such as <br />{{ site.api.base_url }}{{ site.api.v1}}{{ site.resource.customers.url}}/42</b>
                </td>
                <td>Retrieve the element 42.</td>
                <td>Update the element with the id 42.</td>
                <td>-</td>
                <td>Delete the element with the id 42.</td>
            </tr>
        </tbody>
    </table>

    <p><b>Note:</b> All the resources follow this schema unless specified otherwise in the resource documentation page itself (i.e. read-only resources).</p>


    <h3>How we parse the JSON</h3>
    This is how we parse and interpret the JSON input you send to us. Please read these rules carefully:

    <h4>Missing fields</h4>

    <ul>
        <li><b>Edition Mode</b>: the missing field is ignored, and no changes will be performed on it. If you want to edit a single field, just send this single one.</li>
    </ul>

    <h4>Non existant fields</h4>
    <ul>
        <li>If your JSON contains fields that are not part of the resource, those will be silently ignored.</li>
    </ul>


    <h4>Duplicated fields</h4>
    <ul>
        <li>If a field appears more than once in the JSON, the value of the last one will prevail.</li>
    </ul>


    <h4>Wrong values</h4>
    <ul>
        <li>
            <b>Bad type</b>: If any value of a wrong type stands into your JSON, the parsing of the JSON will turn wrong and an error message will be returned.
        </li>
        <li><b>Wrong value</b>: Some fields only accept certain values. If the value of such a field is wrong in your JSON, an error message will be returned.</li>
        <li><b>Non editable</b>: While editing a resource, if any field that is not editable stands within your JSON, and tries to perform an actual modification, an error message will be returned.
        </li>
    </ul>

    
    <h4>Lists</h4>

    A field consists in a list of data of another kind, with their own JSON format (like customer's contact list). While editing such a list, the list you send will become the whole new list. Which means the following:
    <ul>
        <li>Data that don't appear anymore in the new list will be deleted.</li>
        <li>Data that are in both the old and the new list will be updated.</li>
        <li>Data that are only in the new list will be created.</li>
    </ul>

    Also, please remember that:
    <ul>
        <li>Sending an empty list will <b>delete all the elements</b>.
        </li>
        <li>Like other fields, omitting the field wont perform any changes on the list.</li>
    </ul>


    Example on customer contacts list field.<br />
    If the current contact list is: 
    {% highlight bash %} contacts: [ { "id": 48, "first_name": "Ed", "last_name": "Smith", "email": "ed.smith@oneup.com" }, { "id": 49, "first_name": "John", "last_name": "Doe", "email": "john.doe@oneup.com" } ] {% endhighlight %} 
    The following POST... 
    {% highlight bash %} contacts: [ { "id": 49, "email": "new.email@oneup.com" }, { "first_name": "James", "last_name": "Brown", "email": "james.brown@oneup.com" } ] {% endhighlight %} 
    ...will delete contact 48 (Ed Smith), update the email of contact 49 (John Doe), and create the brand new contact James Brown.

</div>
