<div id="pagination" class="group">

    <h2>Pagination</h2>
    <p>Requests that return multiple elements <b>will be paginated to 100 items by default</b>.</p>

    <p>Most APIs that list resources are paginated. Pagination is consistent across all APIs that require it. You can use the offset and limit parameters to page through query results.</p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Required</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>offset</td>
                <td>integer</td>
                <td>no</td>
                <td>The offset of the first record returned. Default is 0.</td>
            </tr>
            <tr>
                <td>limit</td>
                <td>integer</td>
                <td>no</td>
                <td>The number of records returned. Default (and max limit) is 100.</td>
            </tr>
        </tbody>
    </table>

    <h3>Sorting</h3>
    <p>
        The API allows sorting ASC or DESC by passing the parameter <b>sort</b> with the option name your want to sort on,
        prefixed by <b>+</b> for ASC and <b>-</b> for DESC.
        For instance, use <b>&sort=-id</b> to sort by id field in reverse order.
    </p>
    <p>
        Keep in mind that only certain endpoints and certain fields support this feature. Check the
        "Available Sorting Fields" section of each EndPoint for available option names and fields.
    </p>
</div>
