<div id="sorting" class="group">
    <h2>Sorting</h2>
    <p>
        The API allows sorting ASC or DESC by passing the parameter <b>sort</b> with the option name your want to sort
        on,
        prefixed by <b>+</b> for ASC and <b>-</b> for DESC.
        For instance, use <b>&sort=-id</b> to sort by id field in reverse order.
    </p>
    <p>
        Keep in mind that only certain endpoints and certain fields support this feature. Check the
        "Available Sorting Fields" section of each EndPoint for available option names and fields.
    </p>
</div>