<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}  
    </head>
    <body>  
    <div id="wrapper">
        <!--Nav Bar -->
        <nav class="bs-docs-sidebar"  role="navigation">
            <a class="logo" href="/">
                <img src="https://d2wni7o1grq1fg.cloudfront.net/201307030346/resources/images/common/myerp_logo_black.png" alt="myERP"/>Developers
            </a>
            <ul id="sidebar" class="nav nav-stacked fixed">
                {% include side-menu.html %}
            </ul>
            <div class="love">Made with ♥<br /> by the myERP Team</div>
        </nav>
        <!--Main Content -->
        <div class="page-content-wrapper">
            <div class="container-fluid">
                    {{ content }}
            </div>
        </div>
    </body>
</html>
